[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "camcorder"]
	path = camcorder
	url = https://github.com/thebioengineer/camcorder
[submodule "gto"]
	path = gto
	url = https://github.com/cran/gto
[submodule "tidytuesdayR"]
	path = tidytuesdayR
	url = https://github.com/thebioengineer/tidytuesdayr
